section.header-section {
  text-align: center;
  height: 10vw;
  display: flex;
  flex-direction: row;
  gap: 2%;
  box-sizing: content-box;
}

div.header-icon,
div.header-heading,
div.header-user {
  box-sizing: border-box;
  background-color: blue;
  height: 100%;
  border-radius: 2vw;
  background-color: #c41e2a;
}

div.header-icon,
div.header-user {
  width: 10vw;
  font-size: 1.25vw;
}

img.icon {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  cursor: pointer;
}

div.header-heading {
  flex: 1;
  font-size: 2.5vw;
  padding: 3.75vw 0;
  color: antiquewhite;
}

div.header-user {
  display: flex;
  flex-direction: column;
}

/* img.user-button:hover {
  transform: scale(1.05);
} */

button.login-button,
button.signup-button {
  margin-left: 15%;
  margin-right: 15%;
  height: 3vw;
  border-radius: 1vw;
  font-size: 1.2vw;
  outline: none;
  border: none; /* Removes any border */
  cursor: pointer;
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: antiquewhite;
  color: black;
}

button.login-button {
  margin-top: 15%;
  margin-bottom: 10%;
  background-color: black;
  color: antiquewhite;
}

button.login-button:hover,
button.signup-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
}

div.modal-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

div.modal {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 2vw;
  border: none;
  width: 70%; /* Could be more or less, depending on screen size */
  height: 45%;
  border-radius: 2vw;
}

span.close {
  color: #aaa;
  cursor: pointer; /*doesnt work */
  float: right;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

span.close:hover {
  color: black;
  transform: scale(1.04);
  text-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.3);
}

div.modal-message {
  font-size: 1vw;
}

body {
  margin: 1% 1%;
}

img.user-button {
  display: none; /*hidden by default*/
  margin: 25% 25%;
  cursor: pointer;
  text-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out, margin 0.4s ease-in-out;
}

button.user-button {
  visibility: visible;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 7.5%;
  margin-left: 15%;
  margin-right: 15%;
  height: 1.75vw;
  width: 70%;
  font-size: 1vw;
  outline: none;
  border: none;
  background-color: antiquewhite;
  color: black;
  border-radius: 0.5vw;
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
}

button.user-button:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.3);
}

button.hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  height: 1px;
  width: 1px;
}
